<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itechnowizard.chotu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".di.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Chotu"
        tools:targetApi="31">
        <activity
            android:name=".presentation.expiry.Expiry"
            android:exported="false" />
        <activity
            android:name=".presentation.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.report.Report"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.contact.addcontact.AddContact"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.contact.Contact"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.quotation.addquotation.AddQuotation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.quotation.Quotation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.proforma.addproforma.AddProformaInvoice"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.proforma.ProformaInvoice"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ledger.detail.DetailLedger"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ledger.Ledger"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.payment.made.addpayment.purchaselist.PurchaseList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.payment.made.addpayment.AddPaymentMade"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.payment.made.PaymentMade"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.payment.receipt.addpayment.invoicelist.InvoiceList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.payment.receipt.addpayment.AddPaymentReceipt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.payment.receipt.PaymentReceipt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.creditnote.addcredit.AddCredit"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.creditnote.CreditNote"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.debitnote.adddebit.AddDebit"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.debitnote.DebitNote"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.inventory.details.InventoryDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.inventory.Inventory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.seller.addSeller.AddSeller"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.seller.Seller"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.purchase.addpurchase.AddPurchase"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.consignee.addConsignee.AddConsignee"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.consignee.Consignee"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.transport.transportlist.addTransport.AddTransport"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.transport.transportlist.TransportList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.bank.addbank.AddBank"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.bank.Bank"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.other.OtherDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.transport.TransportDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.product.addProduct.AddProduct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.product.Product"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.supplier.Supplier"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.buyer.addBuyer.AddBuyer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.lists.buyer.Buyer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.invoice.addinvoice.AddInvoiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.purchase.Purchase"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.invoice.Invoice"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.expense.addexpense.AddExpenseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.expense.Expense"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.dashboard.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.auth.phoneauth.PhoneNumberAuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>